; Launch! 2.2 appearance settings
BACKGROUND=1
BORDER=11
MAIN_TITLE=12
TITLES=14
FOLDERS=15
LAUNCHERS=10
SELECTED_FG=15
SELECTED_BG=3
CONTROLS_FG=0
CONTROLS_BG=7
LABELS=7
MENU_TOP=0
SCREENSAVER=1
SAVER_COLOR=10
HOUR_12=1
SHOW_EXPLORE=1
SHOW_POWER=1
SHOW_TIME=1
FONT_ID=1
